.text-center-margin-8{
    text-align: center;
    margin:80px;
}

.about-content div{
    width:40%;
    float:left;
    margin:0 4.5%;
    
    &:not(:last-child){
        margin-right:5%;
    }
    
}