 .comp{
    position: relative;
    
    .comp-ph{
        width: 120%;
        box-shadow: 0 5px 40px #2a2a2a;
        position: absolute;
        z-index: 1;
        transition: all .3s ease-in-out;
        outline-offset: 10px;
        
        &:hover{
        outline: 15px solid #2a2a2a;
        transform: scale(1.05);
        z-index: 2;
    }
    }
        .ph1 {
            left:0px;
            top:-10px;
        }
         .ph2{
            left:250px;
            top:20px;
             
             @media (max-width:37.5em) {
                 left:11.1rem;
             }
        }
         .ph3{
            left:90px;
            top:90px;
        }

}   